---
layout: default
featured:
- icon: fas fa-pepper-hot
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
- icon: fas fa-apple-alt
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
- icon: fas fa-carrot 
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
- icon: fas fa-pizza-slice 
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
---

            <!-------------------Header section---------->

            <header class="grid text-center tall-100 md-tall-80">
                {% include header-nav.html %}

                <div class="col-12">
                    <h3 class="font-weight-extra-bold text-right" data-aos="fade-in" data-aos-duration="1000"> <span class="featured-text"> relax </span> take it easy </h3>
                    <h1 class="font-weight-light text-right"  data-aos="fade-up" data-aos-delay="500"> the ultimate spa program </h1>
                
                </div>
            </header>

            <!--------------- Featured section --------------->
            <section class="grid padded">
                <div class="padded col-6_xs-12-middle" data-aos="fade-right">
                    <h2 class="editable"> created for <span class="featured-text"> your body </span>  </h2>
                    <p> Lorem ipsum, dolor <a href="#">sit amet consectetur </a> adipisicing elit. Quidem sunt inventore natus, recusandae aliquam nam excepturi. Hic assumenda itaque magni, inventore. </p>
                    <p> Iusto officiis adipisci, veritatis recusandae exercitationem at modi molestias.
                    </p>
                </div>
                <div class="bg-image col-6_xs-12 tall-70 padded">
                    <!-- backgroung image bed-->
                </div>
                <div class="bg-image bg-oil col-6_xs-12 tall-70 hide-xs">
                    <!-- background image pug-->
                </div>
                <div class="padded col-6_xs-12-middle" data-aos="fade-left">
                    <h2 class="editable"> <span class="featured-text"> the magic </span> is within you </h2>
                    <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestiae possimus magni officia, aliquam ipsum dolor nulla placeat illum dolorem. Culpa alias pariatur dolore recusandae ad perspiciatis mollitia nobis iure?</p>
                </div>
            </section>

            <!---------------Icon grid----------------->
            <section class="padded grid-center bg-dark">
                <div class="padded-sm col-12 text-center" data-aos="fade-in">
                    <h2> <span class="featured-text"> features </span> you will love </h2>
                </div>

                {% for item in page.featured %}
                <div class="padded-sm col-3_sm-6 xxs-stack">
                    <i class="{{item.icon}}"></i>
                    <p> {{item.description}} </p>
                </div>
                {% endfor %}

            </section>


            <!---------------Image Banner----------------->
            <section class="padded text-left bg-oil2 tall-70 grid bg-image">
                <div class="col-12-middle">
                    <h3 class="big-text white-text"> 
                        <span class="small-text font-weight-normal"> never underestimate the power of</span> 
                        <br> a good massage
                    </h3>
                </div>
                
            </section>

            <!---------------Testimonial section----------------->
            <section class="padded-lg grid">
                <div class="col-1 text-right">
                    <span class="quote-icon">“</span>
                </div>
                <div class="col-10 text-center">
                    <p class="medium-text font-weight-light"> I'm never experienced massage like this. Omg I really love this treatment I want to recomend this spa for every my friends </p>
                    <p class="subtitle"> - A very happy customer </p>
                </div>
                <div class="col-1">
                    <span class="quote-icon">”</span>
                </div>
            </section>

           
